{% extends 'base.html' %}
{% load static %}
{% load editorjs %}
{% block content %}
    {% include 'layouts/page-header.html' %}
    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{ campaign.image.url }}" alt="{{ campaign.title }}">
                        </div>
                        <div class="blog_details">
                            {{ campaign.content | editorjs }}
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between text-center">
                            <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and
                                4 people like this</p>
                            <div class="col-sm-4 text-center my-2 my-sm-0">
                                <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                            </div>
                            <ul class="social-icons">
                                <li><a href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a>
                                </li>
                                <li><a href="blog_details.html#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="blog_details.html#"><i class="fab fa-dribbble"></i></a></li>
                                <li><a href="blog_details.html#"><i class="fab fa-behance"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'layouts/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}