{% extends 'base.html' %}
{% load charity %}
{% load static %}
{% load editorjs %}

{% block site_meta %}
    <title>{{ campaign.title }}</title>
    <meta name="description" content="{{ campaign.description }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ site_favicon_url }}">
{% endblock site_meta %}

{% block social_meta %}
    <meta property="og:title" content="{{ campaign.title }}">
    <meta property="og:description" content="{{ campaign.description }}">
    <meta property="og:image" content="{{ campaign.image.url|absolute:request }}">
    <meta property="og:url" content="{{ request.build_absolute_uri }}">
    <meta property="og:type" content="website">
{% endblock social_meta %}

{% block content %}
    {% include 'layouts/page-header.html' %}
    <section class="blog_area single-post-area section-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 posts-list">
                    <div class="single-post">
                        <div class="feature-img">
                            <img class="img-fluid" src="{{ campaign.image.url }}" alt="{{ campaign.title }}">
                        </div>
                        <div class="blog_details">
                            {{ campaign.content | editorjs }}
                        </div>
                    </div>
                    <div class="navigation-top">
                        <div class="d-sm-flex justify-content-between align-items-center text-center">
                            <p class="like-info mb-0">Share with</p>

                            <ul class="social-icons list-inline mb-0">
                                <!-- Facebook -->
                                <li class="list-inline-item">
                                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
                                       target="_blank" rel="noopener">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>

                                <!-- X (Twitter) -->
                                <li class="list-inline-item">
                                    <a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri }}&text={{ campaign.title }}"
                                       target="_blank" rel="noopener">
                                        <i class="fab fa-x-twitter"></i>
                                    </a>
                                </li>

                                <!-- Instagram (Copy Link) -->
                                <li class="list-inline-item">
                                    <a href="javascript:void(0)" onclick="copyShareLink()">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </li>

                                <!-- LinkedIn -->
                                <li class="list-inline-item">
                                    <a href="https://www.linkedin.com/sharing/share-offsite/?url={{ request.build_absolute_uri }}"
                                       target="_blank" rel="noopener">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    {% include 'layouts/sidebar.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock content %}