{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="slider-area2" style="background-image: url({{ campaigns_banner_url }})">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-70 text-center">
                            <h2>{{ campaigns_title }}</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row">
                {% for campaign in campaigns %}
                    {% include 'includes/campaigns/campaigns-list-item.html' %}
                {% endfor %}
            </div>
            <div>
                {% include 'includes/pagination.html' %}
            </div>
        </div>
    </div>
{% endblock content %}