{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Charity{% endblock %}
{% block content %}
    <!--? Hero Start -->
    <div class="slider-area2">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 pt-20 text-center">
                            <h2>About US</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Services Area Start -->
    <div class="service-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>{{ about_title }}</span>
                        <h2>{{ about_subtitle }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for item in feature_services %}
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                {% if item.icon %}
                                    <img src="{{ item.icon.url }}" alt="{{ item.title }}">
                                {% else %}
                                    <img src="{% static 'images/icons/applications.png' %}" alt="Applications">
                                {% endif %}
                            </div>
                            <div class="cat-cap">
                                <h5><a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                </h5>
                                <p>{{ item.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Law Start-->
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>{{ about_title_2 }}</span>
                            <h2>{{ about_subtitle }}</h2>
                        </div>
                        <p>{{ about_description|safe }}</p>
                    </div>
                    <a href="{{ contacts_btn_link }}" class="btn">{{ contacts_btn_text }}</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{{ about_us_2_url }}" alt="{{ about_us_2_caption }}">
                        </div>
                        <div class="about-back-img ">
                            <img src="{{ about_us_1_url }}" alt="{{ about_us_1_caption }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    <!-- Want To work -->
    <section class="wantToWork-area ">
        <div class="container">
            <div class="wants-wrapper w-padding2  section-bg"
                 data-background="{{ section_bg_one_url }}">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-9 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>{{ become_volunteer_title }}</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <a href="{{ become_volunteer_link }}"
                           class="btn white-btn f-right sm-left">{{ become_volunteer_btn }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <!-- Testimonial contents -->
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        {% for item in testimonials %}
                            <div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <!-- founder -->
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            {% if item.avatar %}
                                                <img src="{{ item.avatar.url }}" alt="{{ item.name }}">
                                            {% else %}
                                                <img src="{% static 'images/icons/person.png' %}" alt="Avatar">
                                            {% endif %}
                                            <span>{{ item.name }}</span>
                                            <p>{{ item.role.title }}</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“{{ item.feedback }}”</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->

    <!--? Count Down Start -->
    <div class="count-down-area pt-25 section-bg" data-background="images/aboutus/section_bg02.png">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="count-down-wrapper">
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">6,200</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">80</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Fund Raised</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">256</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">256</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}