{% extends 'base.html' %}
{% load static %}
{% block title %}Home | Charity{% endblock %}
{% block content %}
    {% include 'layouts/banner.html' %}
    <!--? Services Area Start -->
    <div class="service-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>{{ services_title }}</span>
                        <h2>{{ services_subtitle }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for service in featured_services %}
                	<div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cat text-center mb-50 {% if forloop.counter == 2 %} active {% endif %} ">
                        <div class="cat-icon">
                            <img src="{{ service.image.url }}" alt="{{ service.title }}">
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{ service.get_absolute_url }}">{{ service.title }}</a>
                            </h5>
                            <p>{{ service.description }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Law Start-->
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10">
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>{{ about_title }}</span>
                            <h2>{{ about_subtitle }}</h2>
                        </div>
                        <p>{{ about_description }}</p>
                    </div>
                    <a href="about.html" class="btn">About US</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img ">
                        <div class="about-font-img d-none d-lg-block">
                            <img src="{% static 'img/gallery/about2.png' %}" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="{% static 'img/gallery/about1.png' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Law End-->
    <!-- Our Cases Start -->
    <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>{{ campaigns_title }}</span>
                        <h2>{{ campaigns_subtitle }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for campaign in featured_campaigns %}
                    {% include 'includes/campaigns/campaigns-list-item.html' %}
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Our Cases End -->
    <!-- Featured_job_start -->
    <section class="featured-job-area section-padding30 section-bg2"
             data-background="{% static 'img/gallery/section_bg03.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-7 col-lg-9 col-md-10 col-sm-12">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>{{ event_title }}</span>
                        <h2>{{ event_subtitle }}</h2>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                {% for event in featured_events %}
                    {% include 'includes/events/event-list-item.html' %}
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Featured_job_end -->

    {% include 'layouts/sections/members.html' %}

    <!-- Want To work -->
    <section class="wantToWork-area ">
        <div class="container">
            <div class="wants-wrapper w-padding2  section-bg"
                 data-background="{% static 'img/gallery/section_bg01.png' %}">
                <div class="row align-items-center justify-content-between">
                    <div class="col-xl-5 col-lg-9 col-md-8">
                        <div class="wantToWork-caption wantToWork-caption2">
                            <h2>{{ become_volunteer_title }}</h2>
                        </div>
                    </div>
                    <div class="col-xl-2 col-lg-3 col-md-4">
                        <a href="{{ become_volunteer_link }}" class="btn white-btn f-right sm-left">{{ become_volunteer_btn }}</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Want To work End -->
    <!--? Testimonial Start -->
    <div class="testimonial-area testimonial-padding">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        {% for staff in featured_staffs %}
                        	<div class="single-testimonial text-center">
                                <div class="testimonial-caption ">
                                    <div class="testimonial-founder">
                                        <div class="founder-img mb-40">
                                            {% if staff.image %}
                                            	<img src="{{ staff.image.url }}" alt="{{ staff.full_name }}">
                                            {% endif %}
                                            <span>{{ staff.full_name }}</span>
                                            <p>{{ staff.role }}</p>
                                        </div>
                                    </div>
                                    <div class="testimonial-top-cap">
                                        <p>“{{ staff.bio }}”</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Testimonial End -->
    <!--? Blog Area Start -->
    <section class="home-blog-area section-padding30">
        <div class="container">
            <!-- Section Tittle -->
            <div class="row justify-content-center">
                <div class="col-xl-5 col-lg-6 col-md-9 col-sm-10">
                    <div class="section-tittle text-center mb-90">
                        <span>{{ blog_title }}</span>
                        <h2>{{ blog_subtitle }}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for post in featured_posts %}
                	<div class="col-xl-6 col-lg-6 col-md-6">
                    <div class="home-blog-single mb-30">
                        <div class="blog-img-cap">
                            <div class="blog-img">
                                <img src="{{ post.image.thumbnail.url }}" alt="{{ post.title }}">
                                <!-- Blog date -->
                                <div class="blog-date text-center">
                                    <span>24</span>
                                    <p>Now</p>
                                </div>
                            </div>
                            <div class="blog-cap">
                                <p>{{ post.author.full_name }}</p>
                                <h3><a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Blog Area End -->
    <!--? Count Down Start -->
    <div class="count-down-area pt-25 section-bg" data-background="{% static 'img/gallery/section_bg02.png' %}">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12 col-md-12">
                    <div class="count-down-wrapper">
                        <div class="row justify-content-between">
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">6,200</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">80</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Fund Raised</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">256</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-6">
                                <!-- Counter Up -->
                                <div class="single-counter text-center">
                                    <span class="counter color-green">256</span>
                                    <span class="plus">+</span>
                                    <p class="color-green">Donation</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Count Down End -->
{% endblock content %}
