<div class="slider-area" style="background-image: url({{ home_banner_url }})">
    <div class="slider-active">
        {% for item in home_slides %}
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption">
                                <h1 data-animation="fadeInUp" data-delay=".6s">{{ item.title }}</h1>
                                <P data-animation="fadeInUp" data-delay=".8s">{{ item.description }}</P>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    {% if item.action_btn_text %}
                                        <a href="{{ action_btn_link }}" class="btn hero-btn mb-10"
                                           data-animation="fadeInLeft" data-delay=".8s">{{ item.action_btn_text }}</a>
                                    {% endif %}
                                    {% if item.email_btn_text %}
                                        <a href="mailto:{{ item.email_btn_link }}" class="cal-btn ml-15"
                                           data-animation="fadeInRight" data-delay="1.0s">
                                            <i class="flaticon-null"></i>
                                            <p>{{ item.email_btn_text }}</p>
                                        </a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>