{% load static %}
<footer>
    <div class="footer-wrapper section-bg2" data-background="{{ footer_bg_url }}">
        <!-- Footer Top-->
        <div class="footer-area footer-padding">
            <div class="container">
                <div class="row d-flex justify-content-between">
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-6">
                        <div class="single-footer-caption mb-50">
                            <div class="single-footer-caption mb-30">
                                <div class="footer-tittle">
                                    <div class="footer-logo mb-20">
                                        <a href="{% url 'charity:home' %}"><img src="{{ site_logo_reverse_url }}" alt="{{ site_logo_reverse_caption }}"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Contact Info</h4>
                                <ul>
                                    <li>
                                        <p>Address :{{ contact_address }}</p>
                                    </li>
                                    <li><a href="tel:{{ contact_phone }}">Phone : {{ contact_phone }}</a></li>
                                    <li>
                                        <a href="mailto:{{ contact_email }}">Email : {{ contact_email }}</a>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>Important Link</h4>
                                <ul>
                                    <li><a href="{% url 'charity:about_us' %}">About Us</a></li>
                                    <li><a href="{% url 'campaigns:campaign_list' %}">Campaigns</a></li>
                                    <li><a href="{% url 'contact:contact_create' %}">Contact Us</a></li>
                                    <li><a href="{% url 'donations:donation_create' %}">Support</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-5">
                        <div class="single-footer-caption mb-50">
                            <div class="footer-tittle">
                                <h4>{{ newsletter_title }}</h4>
                                <div class="footer-pera footer-pera2">
                                    <p>{{ newsletter_subtitle }}</p>
                                </div>
                                <!-- Form -->
                                <div class="footer-form">
                                    <div id="mc_embed_signup">
                                        <form target="_blank" action="" method="get" class="subscribe_form relative mail_part">
                                            <input type="email" name="email" id="newsletter-form-email" placeholder="{{ newsletter_email_placeholder }}" class="placeholder hide-on-focus" onfocus="this.placeholder = ''"  onblur="this.placeholder = '{{ newsletter_email_placeholder }}'">
                                            <div class="form-icon">
                                                <button type="submit" name="submit" id="newsletter-submit" class="email_icon newsletter-submit button-contactForm">
                                                    <img src="{{ send_icon_url }}" alt="{{ send_icon_caption }}">
                                                </button>
                                            </div>
                                            <div class="mt-10 info"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer-bottom -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="footer-border">
                    <div class="row d-flex justify-content-between align-items-center">
                        <div class="col-xl-10 col-lg-9 ">
                            <div class="footer-copy-right">
                                <p>
                                    Copyright &copy; <script>document.write(new Date().getFullYear());</script>
                                    All rights reserved | Developed by <a href="" target="_blank">Mamunur Rashid</a>
                                </p>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3">
                            <div class="footer-social f-right">
                                {% for item in socials %}
                                	<a href="{{ item.link }}"><i class="{{ item.social.fontawesome_class }}" title="{{ item.social.title }}"></i></a>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll Up -->
<div id="back-top">
    <a title="Go to Top" href="index.html#"> <i class="fas fa-level-up-alt"></i></a>
</div>