<div class="header-top d-none d-lg-block">
    <div class="container-fluid">
        <div class="col-xl-12">
            <div class="row d-flex justify-content-between align-items-center">
                <div class="header-info-left d-flex">
                    <ul>
                        <li>Phone: <a class="text-dark" href="tel:{{ contacts_phone }}">{{ contacts_phone }}</a></li>
                        <li>Email: <a class="text-dark" href="mailto:{{ contacts_email }}">{{ contacts_email }}</a></li>
                    </ul>
                    <div class="header-social">
                        <ul>
                            {% for item in socials %}
                            	<li><a href="{{ item.link }}"><i class="{{ item.social.fontawesome_class }}" title="{{ item.social.title }}"></i></a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="header-info-right d-flex align-items-center">
                    <div class="select-this">
                        <form>
                            <div class="select-itms">
                                <select name="select" id="select1" disabled>
                                    <option selected value="eng">English</option>
                                    <option value="bn">Bengali</option>
                                    <option value="ar">Arabic</option>
                                    <option value="hn">Hindi</option>
                                </select>
                            </div>
                        </form>
                    </div>
                    <ul class="contact-now">
                        <li><a href="index.html#">Subscribe Now</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>